# 1. 忽略 Tauri 和 Rust 的巨型编译垃圾
src-tauri/target/

# 2. 忽略前端包的黑洞
node_modules/

# 3. 忽略 Python 的编译垃圾和虚拟环境
__pycache__/
build/
dist/

# 4. 忽略所有可执行文件（.exe 不应该放在源码里，稍后告诉你放哪）
*.exe

# 5. 🛑 极其重要：绝对不能把密钥传上网！！！
.env